* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

ul {
  margin-top: 0;
}

h5 {
  color: red;
}

a:link {
  text-decoration: none;
}

p.words {
  width: 5px;
  word-wrap: break-word;
}

body { 
  /* background-image: url('/bg.jpg');
  background-size: cover; */
  background-color: wheat;
  text-align: center;
  margin: 0 auto;
  /* transform-style: preserve-3d; */
  height: 100vh;
}

/* NavBar start */


.top-of-nav {
  background: #B71001;
  padding: 1px;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 340px;
  background-color: black;
  justify-content: center;
  margin: 0;
}

.logo img {
  height: 170px; 
  width: 170px;
}

.nav-container h3 {
  font-size: 3em;
  font-family: 'Alice', serif;
  text-transform: capitalize;
  color: #B71001;
  letter-spacing: 4px;
}


.info-btns button {
 font-size: 10px;
 letter-spacing: 4px;
 margin: 14px 7px;
 background-color: white;
 color: black;
 border-color: black;
 padding: 10px 24px;
 border-radius: 12px;
 -webkit-transition-duration: 0.4s; 
 transition-duration: 0.4s;
 cursor: pointer;
 outline: none;
}


.info-btns button:hover {
  background-color: #B71001; 
  color: white;
}

.page-links {
  background-color: black;
  width: 100%;
  font-size: 17px;
  /* position: absolute; */

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.page-links li{
  list-style: none;
  display: inline-block;
  padding: 24px;
}

.page-links button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
}

.page-links a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
}



/* social media animation  */

/* .social-links a:hover {
  color: rgba(167, 146, 129, 0.6);
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transition: all 0.3s ease; 
  transition: all 0.3s ease;
} */


.fa-facebook {
  color: white;
}

.fa-yelp {
  color: white;
}

.glyphicon-envelope {
  color: white
}

/* NavBar end  */


/* Image Carousel Start  */

.section-a {
  margin: 5px;
}

.section-a h2 {
  padding: 30px;
  letter-spacing: 10px;
  font-size: 30px;
  font-family: 'Alice', serif;
  margin: 0;
}

.img-carousel img {
  object-fit: cover;
}

/* Image Carousel End  */

/* Opening Hours Start */

.section-b {
  /* max-width: 900px; */
  margin: 0 auto;
  font-size: 1.1em;
  letter-spacing: 1px;
}


.section-b h1 {
  padding: 30px;
  letter-spacing: 10px;
  font-size: 30px;
  font-family: 'Alice', serif;
  margin: 0;
}


.hours-container {
  margin: 100px;
}

.hours-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px;
}

.hours-header a {
  color: rgb(94, 94, 94);
}


.hours-container li {
  list-style: none;
  padding: 16px 0;
  font-size: 14px;
  font-family: 'Source Serif Pro', serif;
}

/* Opening Hours End  */


/* Menu  */

.menu-log-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}


.menu-log {
  justify-content: center;
  background: #B71001;
}


.menu-container {
  max-height: 500px;
  overflow: scroll;
}


.menu-log li {
  list-style: none;
  display: inline-block;
  font-family: 'Alice', serif;
  cursor: pointer;
  margin: 24px;
  font-size: 16px;
  font-weight: 450;
}

.menu-log li:hover {
  color: white;
  cursor: pointer;
}


.menu-items h1 {
  font-weight: 500;
  font-size: 28px;
  padding: 20px;
  font-family: 'Alice', serif;
  font: bold;
  letter-spacing: 7px;
}

.menu-items h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 18px;
  font-family: 'Alice', serif;
  font: bold;
  letter-spacing: 7px;
}

.menu-items h3 {
  font-weight: 500;
  font-size: 18px;
  padding: 16px;
  font-family: 'Alice', serif;
  font: bold;
  letter-spacing: 7px;
}


.menu-items p {
  font-family: 'Alice', serif;
  letter-spacing: 2px;
  padding: 7px;
  font-size: 16px;
  margin: 0 auto;
  width: 350px;
  word-wrap: break-word;
}

.bar-cat li {
  font-family: 'Alice', serif;
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
}

.bar-cat li:hover {
  font-weight: 600;
}

.bar-cat h3 {
  font-size: 20px;
  font-weight: 550;
}

.bar-cat h4 {
  font-family: 'Alice', serif;
  font-size: 18px;
  font-weight: 500;
}


/* Footer  */

.footer {
  display: flex;
  background: black;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.footer li {
  padding: 15px;
}

.footer a {
  color: white;
  font-size: 12px;
}

.footer a:hover {
  color: wheat;
}

.footer-end {
  background: red;
  width: 100%;
  padding: 1px;
}



/* Reservation Form */

.form-container {
  justify-content: center;
  margin-bottom: 50px;
}

.form-container h1 {
  padding: 30px;
  letter-spacing: 10px;
  font-size: 30px;
  font-family: 'Alice', serif;
  margin: 0;
}

.res-form label {
  width: 60%;
}

.res-form input {
  border-color: blue;
  width: 60%;
  height: 40px;
  border-radius: 10px;
}


.res-form select {
  width: 45%;
  height: 35px;
}

.res-form button {
  font-size: 10px;
 letter-spacing: 4px;
 background-color: #B71001;
 color: black;
 border-color: black;
 padding: 10px 24px;
 border-radius: 12px;
 -webkit-transition-duration: 0.4s; 
 transition-duration: 0.4s;
 cursor: pointer;
 outline: none;
 margin-top: 25px;
}

.login-form input {
  width: 100%;
  height: 25px;
}


/* Reservations Page */

.table-data {
  width: 100%;
}

.table-data th, td {
  text-align: center;
  padding: 8px;
}

tr:hover {background-color:#f5f5f5;}


@media screen and (max-width: 768px) {
  .Foljoss {
     margin-top: 17px;
  }
};



