* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body { 
  width: 100%; 
  text-align: center; 
}

.web-bg {
  background-image: url('/background.jpg');
  background-size: cover;
}


.nav-container {
  display: flex;
  align-items: center;
  height: 350px;
  background-color: black;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo img {
  height: 170px; 
  width: 170px;
}

.nav-container h3 {
  font-size: 2em;
  font-family: 'Alice', serif;
  text-transform: capitalize;
  color: #B71001;
  letter-spacing: 4px;
}


.nav-container button {
 font-size: 10px;
 letter-spacing: 4px;
 margin: 14px 7px;
 border: #B71001;
 color: black;
 padding: 10px 24px;
 border-radius: 12px;
 -webkit-transition-duration: 0.4s; 
 transition-duration: 0.4s;
 cursor: pointer;
}

.nav-container button:hover {
  background-color: #B71001; 
  color: white;
}

.social-media-container {
  position: absolute;
  margin-top: 130px;
  font-size: 18px;
}


.social-links li{
  list-style: none;
  display: inline-block;
  padding: 24px;
}


.social-links a:hover {
  color: rgba(167, 146, 129, 0.6);
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transition: all 0.3s ease; 
  transition: all 0.3s ease;
}

.fa-facebook {
  color: white;
}

.fa-yelp {
  color: white;
}

.glyphicon-envelope {
  color: white
}


.gallery-title h2 {
  letter-spacing: 14px;
  font-size: 28px;
  font-family: 'Alice', serif;
  text-shadow: grey;
  margin: 10px 0;
}

.section-a {
  max-width: 900px;
  margin: 0 auto;
}

.img-carousel img {
  object-fit: cover;
  width: 100%;
}


.section-b {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  body {
    background: white;
  }
}



